<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Sign In' %>

<h1>Sign In</h1>

<div class="row">
  <div class="span5 offset4">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit 'Sign in', class: 'btn btn-large btn-primary' %>
    <% end %>
    <p>Sei un nuovo utente? <%= link_to 'Sign up now!', signup_path,  class: 'btn btn-large btn-warning'%></p>
  </div>
</div>
