<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, disabled:true %>

        <%= f.label :cognome %>
        <%= f.text_field :cognome %>

        <%= f.label :email %>
        <%= f.text_field :email, disabled: true %>

        <%= f.label :sesso %>
        <%= f.select(:sesso, options = { "M" => 'M', "F" => 'F'})%>

        <%= f.label :nascita %>
        <%= f.date_select :nascita, use_month_names:['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno','Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre'],
                          order:[:day, :month, :year], start_year:Time.now.year - 90 , end_year: Time.now.year - 18 %>

        <%= f.label :luogo %>
        <%= f.text_field :luogo %>

        <%= f.label 'Immagine di copertina' %>
        <%= f.text_field :img_copertina, placeholder:"inserisci l'url dell'immagine" %>

        <%= f.label :descrizione %>
        <%= f.text_area :descrizione, :rows => "5", :cols => "20"%>

        <%= f.label :sito_web %>
        <%= f.text_field :sito_web, placeholder:'www.crowdfooding.it' %>

        <%= f.label :occupazione %>
        <%= f.text_field :occupazione %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, 'Conferma password' %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit 'Aggiorna il mio profilo', class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>