<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'All Users' %>
<div class="container-fluid">

 <div class="row-fluid">
  <aside class="span3">
    <section>
      <%= render 'shared/user_info'%>
      <%= link_to 'View my profile', @user %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

    <section>
     <div class="span8 center">
    <h1>All users</h1>
    <h3>Cerca gli utenti</h3>
    <p style="text-align: center"> <%= render 'users/search_form' %>    </p>
    </div>
   </section>
</div>

  <div class="row-fluid center">
     <%= will_paginate %>
  </div>

<div class="row-fluid">
  <div class="span8 offset2">
    <ul class="users">
     <%= render @users %>
    </ul>
  </div>
</div>


  <div class="row-fluid center">
    <%= will_paginate %>
  </div>

</div>