<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, @user.name %>

<div class="row-fluid center">
  <% unless @user.img_copertina.blank? %>
      <%= image_tag(@user.img_copertina , :height => '100%', :width => '100%', :class => "img-rounded", :id => "copertina")%>
  <%else%>
      <img src="http://www.lettera43.it/upload/images/12_2012/l43-piantagione-121227075428_big.jpg" class="img-rounded" id="copertina">
  <% end %>
</div>

<div class="row-fluid">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= if !@user.cognome.blank?
              @user.cognome
            end %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>

    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>

  </aside>

  <div class="span8">

    <h4>Informazioni personali </h4>
    <% unless @user.nascita.blank? %>
        <p> Età :  <%= (Time.now.year - @user.nascita.year) %>   </p>
    <% end %>

    <% unless @user.luogo.blank? %>
        <p> Luogo :  <%= @user.luogo %>   </p>
    <% end %>

    <% unless @user.occupazione.blank? %>
        <p> Occupazione :  <%= @user.occupazione %>   </p>
    <% end %>

    <% unless @user.email.blank? %>
        <p> Email :  <%= @user.email %>   </p>
    <% end %>

    <% unless @user.sito_web.blank? %>
        <p> Sito web : <a href="http://<%=@user.sito_web %>"> <%=@user.sito_web %>  </a> </p>
    <% end %>

    <% unless @user.sesso.blank? %>
        <p> Sesso : <%=@user.sesso %> </p>
    <% end %>

  </div>

  <div class="row-fluid">
    <div class="span12">


      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Progetti in corso</a></li>
          <li><a href="#tab2" data-toggle="tab"> Progetti finanziati </a></li>
          <li><a href="#tab3" data-toggle="tab">Progetti seguiti</a></li>
          <li><a href="#tab4" data-toggle="tab">Progetti completati</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <h4>Project (<%= @user.projects.count %>)</h4>
            <div id="myCarouseltab1" class="carousel slide">
              <div class="carousel-inner">
                <% if @user.projects.any? %>
                    <%  @user.projects.each do |project|  %>

                        <!-- Carousel items -->
                        <% if @user.projects.first == project %>
                            <div class="active item <%= project.id %>">
                              <ol class="projects">
                                <h3><%= project.titolo %></h3>
                                <h4><%= project.luogo %></h4>
                                <p><%= project.descrizione %></p>

                                <%= image_tag(project.img_copertina, :size => '500x200')%>

                                <% if current_user?(project.user) %>
                                    | <%= link_to 'show', project%>
                                    |<%= link_to "Edit Project", edit_project_path(project.id)%>
                                    |<%= link_to "Edit/Add Contributions", contributions_path(project_id: project.id)%>
                                <% end %>

                              </ol>
                            </div>
                        <% else %>
                            <div class="item <%= project.id %>">
                              <ol class="projects">
                                <h3><%= project.titolo %></h3>
                                <h4><%= project.luogo %></h4>
                                <p><%= project.descrizione %></p>

                                <%= image_tag(project.img_copertina, :size => '500x200')%>

                                <% if current_user?(project.user) %>
                                    | <%= link_to 'show', project%>
                                    |<%= link_to "Edit Project", edit_project_path(project.id)%>
                                    |<%= link_to "Edit/Add Contributions", contributions_path(project_id: project.id)%>
                                <% end %>

                              </ol>
                            </div>
                        <% end %>
                        <!-- Carousel nav -->
                    <% end %>
                <% end %>
              </div>
              <a class="carousel-control left" href="#myCarouseltab1" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarouseltab1" data-slide="next">&rsaquo;</a>
            </div>
          </div>


          <div class="tab-pane" id="tab2">
            <h4>Project (<%= @user.projects.count %>)</h4>
            <div id="myCarouseltab2" class="carousel slide">
              <div class="carousel-inner">
                <% if @user.projects.any? %>
                    <%  @user.projects.each do |project|  %>

                        <!-- Carousel items -->
                        <% if @user.projects.first == project %>
                            <div class="active item <%= project.id %>">
                              <ol class="projects">
                                <h3><%= project.titolo %></h3>
                                <h4><%= project.luogo %></h4>
                                <p><%= project.descrizione %></p>

                                <%= image_tag(project.img_copertina, :size => '500x200')%>

                                <% if current_user?(project.user) %>
                                    | <%= link_to 'show', project%>
                                    |<%= link_to "Edit Project", edit_project_path(project.id)%>
                                    |<%= link_to "Edit/Add Contributions", contributions_path(project_id: project.id)%>
                                <% end %>

                              </ol>
                            </div>
                        <% else %>
                            <div class="item <%= project.id %>">
                              <ol class="projects">
                                <h3><%= project.titolo %></h3>
                                <h4><%= project.luogo %></h4>
                                <p><%= project.descrizione %></p>

                                <%= image_tag(project.img_copertina, :size => '500x200')%>

                                <% if current_user?(project.user) %>
                                    | <%= link_to 'show', project%>
                                    |<%= link_to "Edit Project", edit_project_path(project.id)%>
                                    |<%= link_to "Edit/Add Contributions", contributions_path(project_id: project.id)%>
                                <% end %>

                              </ol>
                            </div>
                        <% end %>
                        <!-- Carousel nav -->
                    <% end %>
                <% end %>
              </div>
              <a class="carousel-control left" href="#myCarouseltab2" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarouseltab2" data-slide="next">&rsaquo;</a>
            </div>
          </div>


          <div class="tab-pane" id="tab3">
            <h4>Project (<%= @user.projects.count %>)</h4>
            <div id="myCarouseltab3" class="carousel slide">
              <div class="carousel-inner">
                <% if @user.projects.any? %>
                    <%  @user.projects.each do |project|  %>

                        <!-- Carousel items -->
                        <% if @user.projects.first == project %>
                            <div class="active item <%= project.id %>">
                              <ol class="projects">
                                <h3><%= project.titolo %></h3>
                                <h4><%= project.luogo %></h4>
                                <p><%= project.descrizione %></p>

                                <%= image_tag(project.img_copertina, :size => '500x200')%>

                                <% if current_user?(project.user) %>
                                    | <%= link_to 'show', project%>
                                    |<%= link_to "Edit Project", edit_project_path(project.id)%>
                                    |<%= link_to "Edit/Add Contributions", contributions_path(project_id: project.id)%>
                                <% end %>

                              </ol>
                            </div>
                        <% else %>
                            <div class="item <%= project.id %>">
                              <ol class="projects">
                                <h3><%= project.titolo %></h3>
                                <h4><%= project.luogo %></h4>
                                <p><%= project.descrizione %></p>

                                <%= image_tag(project.img_copertina, :size => '500x200')%>

                                <% if current_user?(project.user) %>
                                    | <%= link_to 'show', project%>
                                    |<%= link_to "Edit Project", edit_project_path(project.id)%>
                                    |<%= link_to "Edit/Add Contributions", contributions_path(project_id: project.id)%>
                                <% end %>

                              </ol>
                            </div>
                        <% end %>
                        <!-- Carousel nav -->
                    <% end %>
                <% end %>
              </div>
              <a class="carousel-control left" href="#myCarouseltab3" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarouseltab3" data-slide="next">&rsaquo;</a>
            </div>
          </div>


          <div class="tab-pane" id="tab4">
            <h4>Project (<%= @user.projects.count %>)</h4>
            <div id="myCarouseltab4" class="carousel slide">
              <div class="carousel-inner">
                <% if @user.projects.any? %>
                    <%  @user.projects.each do |project|  %>

                        <!-- Carousel items -->
                        <% if @user.projects.first == project %>
                            <div class="active item <%= project.id %>">
                              <ol class="projects">
                                <h3><%= project.titolo %></h3>
                                <h4><%= project.luogo %></h4>
                                <p><%= project.descrizione %></p>

                                <%= image_tag(project.img_copertina, :size => '500x200')%>

                                <% if current_user?(project.user) %>
                                    | <%= link_to 'show', project%>
                                    |<%= link_to "Edit Project", edit_project_path(project.id)%>
                                    |<%= link_to "Edit/Add Contributions", contributions_path(project_id: project.id)%>
                                <% end %>

                              </ol>
                            </div>
                        <% else %>
                            <div class="item <%= project.id %>">
                              <ol class="projects">
                                <h3><%= project.titolo %></h3>
                                <h4><%= project.luogo %></h4>
                                <p><%= project.descrizione %></p>

                                <%= image_tag(project.img_copertina, :size => '500x200')%>

                                <% if current_user?(project.user) %>
                                    | <%= link_to 'show', project%>
                                    |<%= link_to "Edit Project", edit_project_path(project.id)%>
                                    |<%= link_to "Edit/Add Contributions", contributions_path(project_id: project.id)%>
                                <% end %>

                              </ol>
                            </div>
                        <% end %>
                        <!-- Carousel nav -->
                    <% end %>
                <% end %>
              </div>
              <a class="carousel-control left" href="#myCarouseltab4" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarouseltab4" data-slide="next">&rsaquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
