<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, @user.name %>

<div class="row">
  <img src="http://www.lettera43.it/upload/images/12_2012/l43-piantagione-121227075428_big.jpg" class="img-rounded" id="copertina">

  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= if !@user.cognome.blank?
                @user.cognome
            end %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>

    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>

  </aside>

  <div class="span8">

    <h4>Informazioni personali </h4>
    <% unless @user.nascita.blank? %>
        <p> Età :  <%= (Time.now.year - @user.nascita.year) %>   </p>
    <% end %>

    <% unless @user.luogo.blank? %>
        <p> Luogo :  <%= @user.luogo %>   </p>
    <% end %>

    <% unless @user.occupazione.blank? %>
        <p> Occupazione :  <%= @user.occupazione %>   </p>
    <% end %>

    <% unless @user.email.blank? %>
        <p> Email :  <%= @user.email %>   </p>
    <% end %>

    <% unless @user.sito_web.blank? %>
        <p> Sito web : <a href="http://<%=@user.sito_web %>"> <%=@user.sito_web %>  </a> </p>
    <% end %>

  </div>

  <div class="span9">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Progetti in corso</a></li>
        <li><a href="#tab2" data-toggle="tab"> Progetti finanziati </a></li>
        <li><a href="#tab3" data-toggle="tab">Progetti seguiti</a></li>
        <li><a href="#tab4" data-toggle="tab">Progetti completati</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <% if @user.projects.any? %>
              <h3>Project (<%= @user.projects.count %>)</h3>
              <ol class="projects">
                <%= render @projects %>
              </ol>
              <% # since we are in a Users view, we need to specify that the pagination is for the projects %>
              <% will_paginate @projects %>
          <% end %>
        </div>

        <div class="tab-pane" id="tab2">
          <p>Non ci sono ancora progetti finanziati.</p>
        </div>

        <div class="tab-pane" id="tab3">
          <p>Non ci sono ancora progetti seguiti.</p>
        </div>

        <div class="tab-pane" id="tab4">
          <p>Non ci sono ancora progetti completati.</p>
        </div>

      </div>
    </div>
  </div>
</div>

