<div id="myCarouseltab<%= @projectcat%>" class="carousel slide" data-interval="4000" data-pause="hover">
  <div class="carousel-inner" >
    <% if @user.projects.any? %>
        <%  @user.projects.each do |project|  %>


            <% if @user.projects.first == project %>
                <div class="active item <%= project.id %>">
            <% else %>
                <div class="item <%= project.id %>">
            <% end %>


            <div class="carousel-cation">
              <ol class="projects">

                <h3><%=link_to project.titolo ,project%></h3>
                <h4><%= project.luogo %></h4>
                <p><%= project.descrizione %></p>
                <%=link_to image_tag(project.img_copertina, :size => '500x200'), project%>
              </ol>
            </div>
            </div>

        <% end %>
    <% end %>
    </div>
    <a class="carousel-control left" href="#myCarouseltab<%=@projectcat%>" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarouseltab<%=@projectcat%>" data-slide="next">&rsaquo;</a>
  </div>
