<table class="table table-condensed table-bordered table-hover">
  <tr>
    <th> Quota </th>
    <th> Servizio </th>
    <th> Numero </th>
    <% if !current_user.nil? %>
        <%  if @project.data_fine > Time.now %>
            <th>  </th>
        <% end %>
    <% end %>
  </tr>



  <% @contributions.each do |contribution| %>
      <tr>
        <% if contribution.numero >=1 %>
            <%= form_for(@backer, method: 'create')  do |b| %>
                <% if !current_user.nil? %>
                    <%= b.hidden_field :user_id, value: current_user.id %>
                <% end %>
                <%= b.hidden_field :contribution_id, value: contribution.id %>
                <%= b.hidden_field :quota, value: contribution.quota %>
                <%= b.hidden_field :project_id, value: contribution.project_id %>

                <td><%= contribution.quota %></td>
                <td><%= contribution.servizio %></td>
                <td><%= contribution.numero %></td>

                <% if !current_user.nil? %>
                    <%  if @project.data_fine > Time.now %>
                        <td><%= b.submit 'Finanzia', class: 'btn btn-primary' %></td>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>