<%= form_for(@project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row-fluid" xmlns="http://www.w3.org/1999/html">
      <div class="span12">
        <div class="row-fluid">
          <div class="span6">
            <%= f.label :titolo %>
            <%= f.text_field :titolo %>
            <%= f.label :descrizione %>
            <%= f.text_field :descrizione %>
            <h4>Budget da raggiungere</h4>
            <%= f.text_field :goal %>
            <div class="row-fluid">
              <div class="span6">
                <%= f.label :Categoria %>
                <%= f.select(:categoria, options = { "Prodotti" => "Prodotti", "Idee" => "Idee", "Luoghi" => "Luoghi", "Educazione" => "Educazione", "Turismo" => "Turismo"})%>
              </div>
              <div class="span6">
                <h4>Tags</h4>

                <p>
                <%= label_tag :Prodotti %>
                <%= check_box_tag 'tags[]', 'Prodotti'%>
                </p>
                <p>
                <%= label_tag :Idee %>
                <%= check_box_tag 'tags[]', 'Idee'%>
                </p>
                <p>
                <%= label_tag :Educazione %>
                <%= check_box_tag 'tags[]', 'Educazione'%>
                </p>


              </div>
            </div>
          </div>
          <div class="span6">
            <h4>Media</h4>
            <%= f.label :immagine_progetto %>
            <%= f.text_field :img_copertina %>
            <%= f.label :immagini %>
            <%= f.text_field :images %>
            <%= f.label :video %>
            <%= f.text_field :videos %>
          </div>


        </div>


        <%= f.label :Cerco_altri_collaboratori %>
        <%= f.text_field :risorse_umane %>

        <%= f.label :'Incentiva_l\'utente più attivo' %>
        <%= f.text_field :gift %>

      </div>
    </div>
    <div class="span5">
      <%= f.submit 'Project', class: 'btn btn-primary' %>
    </div>
    </div>
<% end %>