<% @cat=["ARTE & TEMPO LIBERO","STILE DI VITA & TECNOLOGIA","SOCIAL INNOVATION","EVENTI","CIBO"] %>

<%= form_for(@project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row-fluid">
      <div class="span12 center">

        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">    INFORMAZIONI GENERALI
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <%= f.label :titolo %>
                <%= f.text_field :titolo, placeholder:'Inserisci un titolo di massimo 100 caratteri' %>
                <%= f.label :descrizione %>
                <%= f.text_field :descrizione, placeholder:'Descrivi il tuo progetto' %>
                <%= f.label :Budget_da_raggiungere %>
                <%= f.text_field :goal,  placeholder: 'Stabilisci il budget da raggiungere' %>
                <%= f.label :categoria %>
                <%= f.select(:categoria, @cat)%>
                <%= f.label :luogo %>
                <%= f.text_field :luogo, placeholder: 'Inserisci la città' %>
                <%= f.label :tags %>
                <%= f.text_field :tags, placeholder: 'Tag1,Tag2,Tag3' %>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                MEDIA
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label :immagine_progetto %>
                <%= f.text_field :img_copertina, placeholder:'Inserisci l\'url dell\'immagine' %>
                <%= f.label :immagini %>
                <%= f.text_field :images, placeholder:'Inserisci le url delle immagini spaziate da una virgola' %>
                <%= f.label :video %>
                <%= f.text_field :videos, placeholder:'Inserisci l\'url del video' %>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                COLLABORAZIONI
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label :Cerco_altri_collaboratori %>
                <%= f.text_field :risorse_umane, placeholder:'Fotografo, contadino, ...' %>
                <%= f.label :'Incentiva_l\'utente più attivo' %>
                <%= f.text_field :gift, placeholder: 'Scegli un regalo per premiare l\'utente più attivo' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= f.hidden_field :data_creazione %>
      <%= f.hidden_field :data_fine %>
    </div>

    <div class="row-fluid">
      <div class="span12 center">
        <% if !@project.titolo.nil?%>
            <%= f.submit 'Aggiorna il Progetto', class: 'btn btn-primary' %>
        <% else %>
            <%= f.submit 'Crea il Progetto', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
<% end %>
