<% if @projects_progress.any? %>
    <div id="myCarouseltab<%= @projectcat%>" class="carousel slide" data-interval="4000" data-pause="hover">
      <div class="carousel-inner" >

        <%  @projects_progress.each do |project|  %>
            <% if @projects_progress.first == project %>
                <div class="active item <%= project.id %>">
            <% else %>
                <div class="item <%= project.id %>">
            <% end %>

            <div class="carousel-cation">
              <ol class="projects">

                <div class="row-fluid" id="padre" >

                  <div class="row-fluid" id="info" >
                    <div class="span6">
                      <h2><%=link_to project.titolo ,project%> </h2>
                    </div>
                    <div class="span6">
                      <p> Città:<%= project.luogo %>       </p>
                    </div>
                  </div>

                  <div class="row-fluid">
                    <div class="span6 offset1">
                      <%=link_to image_tag(project.img_copertina), project%>
                    </div>
                    <div class="span4">
                      <p>Di cosa si tratta?  </p>
                      <p><%= project.descrizione %>   </p>
                    </div>
                  </div>

                  <div class="row-fluid" >
                    <div class="span8 offset2">
                      <p style="text-align: left">Budget attuale: <%= project.budget_attuale %> € <p>
                      <div class="progress progress-success progress-striped active">

                        <%if (project.budget_attuale * 100 / project.goal > 100) %>
                            <div class="bar" style="width: 100%;"></div>
                        <% else %>
                            <div class="bar" style="width: <%= 10 * 100 / project.goal %>%;"></div>
                        <% end %>
                      </div>
                      <p style="text-align: right">Goal <%= project.goal %> € <p>

                      <% dif = distance_of_time_in_words(Time.now, project.data_fine, include_seconds = true) %>
                      <% dif.to_s
                         if dif.include? 'day'
                           dif.sub!('day','giorno')
                         end
                         if dif.include? 'giornos'
                           dif.sub!('giornos','giorni')
                         end
                         if dif.include? 'about'
                           dif.sub!('about','circa')
                         end
                         if dif.include? 'hour'
                           dif.sub!('hour','ora')
                         end
                         if dif.include? 'oras'
                           dif.sub!('oras','ore')
                         end
                         if dif.include? 'less than a minute'
                           dif.sub!('less than a minute','meno di un minuto')
                         end
                         if dif.include? 'less than'
                           dif.sub!('less than','meno di')
                         end
                         if dif.include? 'minute'
                           dif.sub!('minute','minuto')
                         end
                         if dif.include? 'minutos'
                           dif.sub!('minutos','minuti')
                         end
                         if dif.include? 'year'
                           dif.sub!('year','anno')
                         end
                         if dif.include? 'annos'
                           dif.sub!('annos','anni')
                         end
                         if dif.include? 'month'
                           dif.sub!('month','mese')
                         end
                         if dif.include? 'meses'
                           dif.sub!('meses','mesi')
                         end
                         if dif.include? 'half a'
                           dif.sub!('half a','mezzo')
                         end%>


                      Hai ancora: <%= dif %>

                      <% ore_rimanenti = ((project.data_fine- Time.zone.now)/1.hours).to_i %>

                      <div class="progress progress-danger progress-striped active">
                        <div class="bar" style="width: <%= 100-ore_rimanenti * 100 / 672 %>%;"></div>
                      </div>
                    </div>
                  </div>
                </div>

              </ol>

            </div>
            </div>
        <% end %>

        <a class="carousel-control left" href="#myCarouseltab<%=@projectcat%>" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarouseltab<%=@projectcat%>" data-slide="next">&rsaquo;</a>

        </div>

      </div>
<% else %>
    <div class="row-fluid center">
      <div class="span12">
        <h3>Non hai progetti in corso</h3>
        <h3><%= link_to "Crea ora il tuo nuovo progetto", crea_path %> </h3>
      </div>
    </div>
<% end %>