<% # current user gravatar %>

  <div class="row-fluid">
    <div class="span5">
      <a href="<%= user_path(@user) %>">
      <%= gravatar_for @user, size: 100 %>
      </a>
    </div>
    <div class="span7">
        <%= render 'shared/user_dna' %>

        <% # current user name, link to her profile and her projects number %>

        <div class="span9">
        <h4><%=@user.name%>
            <% unless @user.cognome.nil? %>
              <%=@user.cognome%>
            <% end %>
        </h4>
        </div>

    </div>
  </div>
  <h4><%= pluralize(@user.projects.count, 'progetto', 'progetti') %></h4>

