<div class="row-fluid">
  <div class="span1"></div>
  <div class="span2">
    <!-- 1 ogni 5 finanziamenti ottieni un punto badge /finanziamenti fatti/-->

    <h5 style="text-align: center">
      <%= image_tag("badges/num_finanziamenti.png", :size => "80x80") %>
      <%= (@user_finanziamenti_fatti/5) %>
    </h5>

  </div>
  <div class="span2">
    <!-- 2 ogni 100 euro di finanziamenti ottieni un punto badge /somma quota finanziamenti/-->

    <h5 style="text-align: center">
      <%= image_tag("badges/somma quote.png", :size => "80x80") %>
      <%= @somma_quote_denaro_finanziato/100 %>
    </h5>

  </div>
  <div class="span2">
    <!-- 3 ogni 5 followed ottieni un punto badge /followed/-->

    <h5 style="text-align: center">
      <%= image_tag("badges/followed.png", :size => "80x80") %>
      <%= @user.followed_users.count/5 %>
    </h5>

  </div>
  <div class="span2">
    <!-- 4 ogni 2 progetti completati ottieni un punto badge /goal finanziamenti/-->

    <h5 style="text-align: center">
      <%= image_tag("badges/progetti creati finanziati.png", :size => "80x80") %>
      <%= @somma_progetti_creati_finanziati/2 %>
    </h5>

  </div>
  <div class="span2">
    <!-- 5 ogni 2 settimane dalla registrazione ottieni un punto badge /anzianità/-->

    <h5 style="text-align: center">
      <%= image_tag("badges/fedelta.png", :size => "80x80") %>
      <%= (Time.now.day - @user.created_at.day)/1.weeks %>
    </h5>

  </div>
  <div class="span1"></div>
</div>