<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Scopri i Progetti' %>
<div class="container-fluid">
  <div class="row-fluid">


    <aside class="span3">
      <section>
        <%= render 'shared/user_info'%>
        <%= link_to 'Visualizza il mio profilo', @user %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>



      <section>
      <div class="span8 center">
        <%= image_tag ("icone/binoculars.png") %>
        <h1>Scopri nuovi Progetti</h1>
        <h3>Cerca i progetti </h3>
        <h5>in base al luogo alla categoria o al titolo del progetto</h5>
        <%= render 'projects/search_projects_form' %>
      </div>
      </section>
</div>

    <div class="row-fluid">
      <div class="span10 offset1">
        <h2>Most Recently Successfully funded projects    </h2>
        <% @projectcat = 1 %>
        <% @projects_complete  %>
        <%= render 'shared/project_complete_slider' %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span10 offset1">
        <h2> Progetti più popolari </h2>
        <% @projectcat = 2 %>
        <% @projects_in_corso  %>
        <%= render 'shared/project_in_corso_slider' %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span10 offset1">
        <h2> Ultimi progetti creati  </h2>
        <% @projectcat = 3 %>
        <% @projects_recently  %>
        <%= render 'shared/project_recently_slider' %>
      </div>
    </div>


  <div class="row-fluid">
    <div class="span10 offset1">
      <h2> Progetti degli amici </h2>
      <% @projectcat = 4 %>
      <% @projects_friends  %>
      <% if signed_in? %>
          <% if !current_user.followers.nil? %>
              <%= render 'shared/project_friends_slider' %>
          <% end %>
      <% end %>
    </div>
  </div>


</div>
