<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Crea un nuovo progetto' %>
<div class="container-fluid">
  <div class="row-fluid">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
        <%= link_to 'Il mio profilo',  current_user , class: 'btn btn-large btn-info'%>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <section>
      <div class="span8 center">
         <%= image_tag("icone/bulb.png")%>
         <h1>Crea il tuo progetto</h1>
         <p>  <%= render 'shared/project_form' %>     </p>
       </div>

    </section>

</div>


