<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Risultati ricerca' %>


<div class="row-fluid">
  <h1>Risultati della ricerca</h1>
  <div class="span6 center offset3">

    <h3>Cerca i progetti</h3>
    <h5>in base al luogo alla categoria,tag o al titolo del progetto</h5>
    <%= render 'projects/search_projects_form' %>
  </div>
</div>
<div class="row-fluid">
  <div class="span8 center offset2">
<%= will_paginate %>

<ul class="projects">
  <%= render @projects %>
</ul>

<%= will_paginate %>


<%=  link_to 'Torna indietro', projects_path  %>

  </div>
</div>