<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, @project.titolo %>

<div class="row-fluid center">
  <% unless @project.img_copertina.blank? %>
      <%= image_tag(@project.img_copertina , :height => '100%', :width => '100%', :class => "img-rounded", :id => "copertina")%>
  <%else%>
      <img src="http://www.lettera43.it/upload/images/12_2012/l43-piantagione-121227075428_big.jpg" class="img-rounded" id="copertina">
  <% end %>
</div>

<div class="row-fluid">
  <aside class="span4">
    <section>
      <h1>
        <%= @project.titolo %>
      </h1>
      <h2>
        <%= @project.luogo %>
      </h2>
      <h2>
        <%= @project.data_fine %>
      </h2>
    </section>
  </aside>

  <div class="span8">

    <p>
      <%= @project.descrizione %>
    </p>
    |<%= link_to "Edit Project", edit_project_path%>
    |<%= link_to "Edit/Add Contributions", contributions_path%>
  </div>
</div>