<h1>Listing contributions</h1>

<table>
  <tr>
    <th>Quota</th>
    <th>Servizio</th>
    <th>Numero</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contributions.each do |contribution| %>
  <tr>
    <td><%= contribution.quota %></td>
    <td><%= contribution.servizio %></td>
    <td><%= contribution.numero %></td>

    <td><%= link_to 'Edit', edit_contribution_path(contribution.id) %></td>
    <td><%= link_to 'Destroy', contribution, method: :delete, id:contribution.id, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contribution', new_contribution_path(project_id:@contributions.first.project_id) %>
