<h1>Listing contributions</h1>

<%= will_paginate %>

<ul class="projects">
  <%= render @contributions %>
</ul>

<%= will_paginate %>

    <%= link_to 'Show', contribution %>
    <%= link_to 'Edit', edit_contribution_path(contribution) %>
    <%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %>


<br />

<%= link_to 'New Contribution', new_contribution_path %>
