<h1>Elenco dei contributi</h1>
<div class="row-fluid">
  <div class="span8 offset2">

    <table class="table table-condensed table-bordered table-hover">
      <tr>
        <th>Quota</th>
        <th>Servizio</th>
        <th>Numero</th>
        <th>Azioni</th>
      </tr>

      <% @contributions.each do |contribution| %>
          <tr>
            <td><%= contribution.quota %></td>
            <td><%= contribution.servizio %></td>
            <td><%= contribution.numero %></td>

            <td><%= link_to 'Modifica', edit_contribution_path(contribution.id), class:'btn btn-small btn-primary' %>
              <%= link_to 'Elimina', contribution, method: :delete, id:contribution.id, data: { confirm: 'Sei sicuro?' } ,class:'btn btn-small btn-danger' %>
            </td>
          </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'Nuovo Contributo', new_contribution_path(project_id:@project.id),class:'btn btn-large btn-success' %>
  </div>
</div>